@font-face {
  font-family: 'SF Compact Display Thin';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Thin'), url('sf-compact-display-thin-58646eb43a785.woff') format('woff');
}
@font-face {
  font-family: 'SF Compact Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Medium'), url('sf-compact-display-medium-5864711817c30.woff') format('woff');
}
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'SF Compact Display Medium';
}
html body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
html body main {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
html body main #headline {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100vw;
  font-size: 5vw;
  text-align: center;
  padding-top: 0.5em;
}
html body main #parliamentlist {
  margin: 0;
  padding: 0;
  height: 80vh;
  width: 100vw;
  position: relative;
  top: 10vh;
  bottom: 1vh;
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  align-content: space-evenly;
  justify-content: space-evenly;
}
html body main #parliamentlist.showallages {
  align-items: initial;
}
html body main #parliamentlist.showallages > .member {
  flex-basis: 4.5vw;
  border-radius: 0px;
  box-shadow: none;
}
html body main #parliamentlist.showallages > .member::before {
  display: none;
}
html body main #parliamentlist.showallages > .member .img {
  box-shadow: none;
}
html body main #parliamentlist.showallages > .member span {
  display: none;
}
html body main #parliamentlist .member {
  list-style: none;
  flex-grow: 1;
  flex-basis: 18vw;
  justify-content: space-between;
  max-width: 33vw;
  border: solid .1em;
  box-shadow: 0vh 0vw 1px 1px;
}
html body main #parliamentlist .member.hide {
  display: none;
}
html body main #parliamentlist .member .img {
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  width: 98%;
  background-position-y: 1%;
  padding-top: 120%;
  margin: 1% 1% 0 1%;
}
html body main #parliamentlist .member .name {
  display: block;
  text-align: center;
  font-family: 'SF Compact Display Medium';
  font-size: 5vw;
  width: 100%;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
  height: fit-content;
  padding-top: .5em;
  padding-bottom: 0.3em;
}
html body main #parliamentlist .member.S {
  background-color: #EE2020;
  border-color: #EE2020;
}
html body main #parliamentlist .member.S::before {
  content: ' ';
  background-image: url(blommor/s.png);
  position: absolute;
  background-size: contain;
  width: 2em;
  height: 2em;
}
html body main #parliamentlist .member.M {
  background-color: #1B49DD;
  border-color: #1B49DD;
}
html body main #parliamentlist .member.M::before {
  content: ' ';
  background-image: url(blommor/m.png);
  position: absolute;
  background-size: contain;
  width: 2em;
  height: 2em;
}
html body main #parliamentlist .member.SD {
  background-color: #DDDD00;
  border-color: #DDDD00;
}
html body main #parliamentlist .member.SD::before {
  content: ' ';
  background-image: url(blommor/sd.png);
  position: absolute;
  background-size: contain;
  width: 2em;
  height: 2em;
}
html body main #parliamentlist .member.C {
  background-color: #009933;
  border-color: #009933;
}
html body main #parliamentlist .member.C::before {
  content: ' ';
  background-image: url(blommor/c.png);
  position: absolute;
  background-size: contain;
  width: 2em;
  height: 2em;
}
html body main #parliamentlist .member.L {
  background-color: #6BB7EC;
  border-color: #6BB7EC;
}
html body main #parliamentlist .member.L::before {
  content: ' ';
  background-image: url(blommor/l.png);
  position: absolute;
  background-size: contain;
  width: 2em;
  height: 2em;
}
html body main #parliamentlist .member.KD {
  background-color: #231977;
  border-color: #231977;
}
html body main #parliamentlist .member.KD::before {
  content: ' ';
  background-image: url(blommor/kd.png);
  position: absolute;
  background-size: contain;
  width: 2em;
  height: 2em;
}
html body main #parliamentlist .member.MP {
  background-color: #83CF39;
  border-color: #83CF39;
}
html body main #parliamentlist .member.MP::before {
  content: ' ';
  background-image: url(blommor/mp.png);
  position: absolute;
  background-size: contain;
  width: 2em;
  height: 2em;
}
html body main #parliamentlist .member.V {
  background-color: #AF0000;
  border-color: #AF0000;
}
html body main #parliamentlist .member.V::before {
  content: ' ';
  background-image: url(blommor/v.png);
  position: absolute;
  background-size: contain;
  width: 2em;
  height: 2em;
}
html body main #parliamentlist .member.Vilde {
  background-color: white;
  border-color: white;
}
html body main #parliamentlist .member.Vilde::before {
  content: 'Vilde';
  position: absolute;
  width: 2em;
  height: 2em;
}
html body #sliders {
  position: absolute;
  width: 100vw;
  height: 10vh;
  bottom: 0vh;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}
html body #sliders::before {
  content: 'Bläddra bland ålder och kön';
  min-width: 100%;
  display: block;
  text-align: center;
  font-size: 1.3em;
}
html body #sliders .slidercontainer {
  min-width: 45vw;
  /*#############Thumb##############*/
  /*#############Track##############*/
}
html body #sliders .slidercontainer .slider {
  width: 100%;
  margin: 1vh 0 1vh 0;
}
html body #sliders .slidercontainer input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
html body #sliders .slidercontainer input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
html body #sliders .slidercontainer input[type=range]:focus {
  outline: none;
}
html body #sliders .slidercontainer input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
html body #sliders .slidercontainer input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  background: #555;
  cursor: pointer;
  margin-top: -12px;
}
html body #sliders .slidercontainer input[type=range]::-moz-range-thumb {
  height: 36px;
  width: 36px;
  background: #555;
  cursor: pointer;
}
html body #sliders .slidercontainer input[type=range]::-ms-thumb {
  height: 36px;
  width: 36px;
  background: #555;
  cursor: pointer;
}
html body #sliders .slidercontainer input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #ccc;
}
html body #sliders .slidercontainer input[type=range]:active::-webkit-slider-runnable-track {
  background: #d6d6d6;
}
html body #sliders .slidercontainer input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #ccc;
}
html body #sliders .slidercontainer input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
html body #sliders .slidercontainer input[type=range]::-ms-fill-lower {
  background: #ccc;
}
html body #sliders .slidercontainer input[type=range]:focus::-ms-fill-lower {
  background: #ddd;
}
html body #sliders .slidercontainer input[type=range]::-ms-fill-upper {
  background: #ccc;
}
html body #sliders .slidercontainer input[type=range]:focus::-ms-fill-upper {
  background: #ddd;
}
