@font-face {
    font-family: 'SF Compact Display Thin';
    font-style: normal;
    font-weight: normal;
    src: local('SF Compact Display Thin'), url('sf-compact-display-thin-58646eb43a785.woff') format('woff');
}


@font-face {
    font-family: 'SF Compact Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF Compact Display Medium'), url('sf-compact-display-medium-5864711817c30.woff') format('woff');
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    html {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        position: fixed;
        overflow: hidden;
        font-family: 'SF Compact Display Medium';

        body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            position: fixed;
            perspective: 1000px;

            #membercard {
                position: fixed;
                top: 20vh;
                width: 90%;
                left: 100%;

                &.slidein {
                    transition: .6s ease-out;
                    left: 5vw;
                }

                &.slideout {
                    transition: .6s ease-out;
                    left: 110%;
                }

                .member {
                    list-style: none;
                    box-shadow: 0vh 0vw 1px 1px;
                    overflow: hidden;
                    display: flex;
                    border: solid;
                    border-width: .3em;

                    &::before {
                        width: 3em;
                        height: 3em;
                        margin-top: 0.1em;
                        margin-left: 0.1em;
                    }

                    // div.img
                    .img {
                        min-width: 190px;
                        min-height: 270px;
                        background-size: 110%;
                    }

                    .name {
                        display: none;
                    }

                    .infobox {
                        display: block;
                        // flex-flow: column;
                        // justify-content: center;
                        padding-left: 6%;
                        color: white;
                        text-shadow:
                            -1px -1px 0 rgba(0, 0, 0, 0.5),
                            1px -1px 0 rgba(0, 0, 0, 0.5),
                            -1px 1px 0 rgba(0, 0, 0, 0.5),
                            1px 1px 0 rgba(0, 0, 0, 0.5);

                        .name {
                            display: block;
                            margin-bottom: 4em;
                            margin-top: 2.5em;
                            font-size: 1.3em;
                        }

                        .born {
                            display: block;
                            margin-bottom: .5em;

                            &::before {
                                content: 'Född år ';
                            }
                        }

                        .area {
                            display: block;

                            &::before {
                                content: 'Valkrets ';
                            }
                        }


                    }
                }
            }

            main {
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
                position: absolute;
                transition: .8s ease-out;

                &.pushaside {
                    transform: translateX(-80%);
                    opacity: 0.5;
                }

                &.pullback {
                    transform: translateX(0);
                    opacity: 1;
                }

                #headline {
                    position: fixed;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    font-size: 1.2em;
                    text-align: center;
                    padding-top: 1em;
                    z-index: 0;

                    span {
                        display: block;
                    }
                }

                // Flex Container
                #parliamentlist {
                    position: fixed;
                    margin: 0 2vw;
                    padding: 0;
                    height: 77%;
                    width: 96%;
                    top: 13%;
                    display: flex;
                    flex-flow: row wrap;
                    align-content: space-evenly;
                    // transform: rotateY(5deg) translate(2vw);
                    color: gray;
                    // filter: drop-shadow(-2vw 2vh 10px);
                    z-index: 1;

                    &.showallages {
                        justify-content: space-evenly;
                        align-content: initial;
                        // filter: drop-shadow(-2vw 0vh 10px);

                        &>.member {
                            flex-basis: 3.6vw;
                            border-radius: 0px;
                            box-shadow: none;

                            &::before {
                                display: none;
                            }

                            .img {
                                box-shadow: none;
                            }

                            span {
                                display: none;
                            }
                        }
                    }

                    // Flex items
                    .member {
                        &.hide {
                            display: none;
                        }

                        @color: inherit;
                        list-style: none;
                        flex-grow: 1;
                        flex-basis: 15.3vw;
                        max-width: 25vw;
                        max-height: 30vh;
                        margin: auto;
                        border: solid .1em;
                        box-shadow: 0vh 0vw 1px 1px;

                        // div.img
                        .img {
                            background-size: 110%;
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 98%;
                            background-position-y: 1%;
                            padding-top: 120%;
                            // border-radius: 10%;
                            margin: 1% 1% 0 1%;
                            // box-shadow: inset 0vh 0vw 1px 1px;
                        }

                        .name {
                            display: block;
                            text-align: center;
                            font-family: 'SF Compact Display Medium';
                            font-size: 1em;
                            width: 100%;
                            color: white;
                            text-shadow:
                                -1px -1px 0 rgba(0, 0, 0, 0.5),
                                1px -1px 0 rgba(0, 0, 0, 0.5),
                                -1px 1px 0 rgba(0, 0, 0, 0.5),
                                1px 1px 0 rgba(0, 0, 0, 0.5);
                            // line-height: 2em;
                            height: fit-content;
                            padding-top: .5em;
                            padding-bottom: 0.3em;
                        }

                        .infobox {
                            display: none;
                        }

                    }
                }

                #sliders {
                    width: 100vw;
                    height: 5vh;
                    display: flex;
                    justify-content: space-evenly;
                    flex-flow: wrap;
                    position: fixed;
                    bottom: 3%;
                    z-index: 0;

                    // &::before {
                    //     content: 'Bläddra bland ålder och kön';
                    //     min-width: 100%;
                    //     display: block;
                    //     text-align: center;
                    //     font-size: 1em;
                    //     margin: 0 0 3% 0;
                    // }

                    .slidecontainer {
                        // bordeR: solid red;
                        min-width: 45vw;

                        .slider {
                            // border: solid black;
                            width: 100%;
                            margin: 1vh 0 1vh 0;
                            opacity: 0.8;
                        }

                        &:first-child {
                            input[type=range] {
                                -webkit-appearance: none;
                                width: 100%;
                            }

                            input[type=range]::-webkit-slider-thumb {
                                -webkit-appearance: none;
                            }

                            input[type=range]:focus {
                                outline: none;
                            }

                            input[type=range]::-ms-track {
                                width: 100%;
                                cursor: pointer;
                                background: transparent;
                                border-color: transparent;
                                color: transparent;
                            }

                            /*#############Thumb##############*/

                            input[type=range]::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                height: 36px;
                                width: 36px;
                                cursor: pointer;
                                margin-top: -12px;
                                background: url('age.svg');
                                background-size: 100%;
                            }

                            input[type=range]::-moz-range-thumb {
                                height: 36px;
                                width: 36px;
                                background: #555;
                                cursor: pointer;
                            }

                            input[type=range]::-ms-thumb {
                                height: 36px;
                                width: 36px;
                                background: #555;
                                cursor: pointer;
                            }

                            /*#############Track##############*/

                            input[type=range]::-webkit-slider-runnable-track {
                                width: 100%;
                                height: 12px;
                                cursor: pointer;
                                background: rgb(238, 236, 236);
                            }

                            input[type=range]:active::-webkit-slider-runnable-track {
                                background: #d6d6d6;
                            }

                            input[type=range]::-moz-range-track {
                                width: 100%;
                                height: 12px;
                                cursor: pointer;
                                background: #ccc;
                            }

                            input[type=range]::-ms-track {
                                width: 100%;
                                height: 12px;
                                cursor: pointer;
                                background: transparent;
                                border-color: transparent;
                                color: transparent;
                            }

                            input[type=range]::-ms-fill-lower {
                                background: #ccc;
                            }

                            input[type=range]:focus::-ms-fill-lower {
                                background: #ddd;
                            }

                            input[type=range]::-ms-fill-upper {
                                background: #ccc;
                            }

                            input[type=range]:focus::-ms-fill-upper {
                                background: #ddd;
                            }
                        }

                        &:last-child {
                            input[type=range] {
                                -webkit-appearance: none;
                                width: 100%;
                            }

                            input[type=range]::-webkit-slider-thumb {
                                -webkit-appearance: none;
                            }

                            input[type=range]:focus {
                                outline: none;
                            }

                            input[type=range]::-ms-track {
                                width: 100%;
                                cursor: pointer;
                                background: transparent;
                                border-color: transparent;
                                color: transparent;
                            }

                            /*#############Thumb##############*/

                            input[type=range]::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                height: 36px;
                                width: 36px;
                                cursor: pointer;
                                margin-top: -12px;
                                background: url('genders.svg');
                                background-size: 100%;
                            }

                            input[type=range]::-moz-range-thumb {
                                height: 36px;
                                width: 36px;
                                background: #555;
                                cursor: pointer;
                            }

                            input[type=range]::-ms-thumb {
                                height: 36px;
                                width: 36px;
                                background: #555;
                                cursor: pointer;
                            }

                            /*#############Track##############*/

                            input[type=range]::-webkit-slider-runnable-track {
                                width: 100%;
                                height: 12px;
                                cursor: pointer;
                                background: rgb(238, 236, 236);
                            }

                            input[type=range]:active::-webkit-slider-runnable-track {
                                background: #d6d6d6;
                            }

                            input[type=range]::-moz-range-track {
                                width: 100%;
                                height: 12px;
                                cursor: pointer;
                                background: #ccc;
                            }

                            input[type=range]::-ms-track {
                                width: 100%;
                                height: 12px;
                                cursor: pointer;
                                background: transparent;
                                border-color: transparent;
                                color: transparent;
                            }

                            input[type=range]::-ms-fill-lower {
                                background: #ccc;
                            }

                            input[type=range]:focus::-ms-fill-lower {
                                background: #ddd;
                            }

                            input[type=range]::-ms-fill-upper {
                                background: #ccc;
                            }

                            input[type=range]:focus::-ms-fill-upper {
                                background: #ddd;
                            }
                        }
                    }
                }
            }

            .S {
                @S: #EE2020;
                background-color: @S;
                border-color: @S  !important;

                &::before {
                    content: ' ';
                    background-image: url(blommor/s.png);
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 1em;
                    height: 1em;
                    margin-top: .1em;
                    margin-left: .1em;
                }
            }

            .M {
                @M: #1B49DD;
                background-color: @M;
                border-color: @M  !important;

                &::before {
                    content: ' ';
                    background-image: url(blommor/m.png);
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 1em;
                    height: 1em;
                    margin-top: .1em;
                    margin-left: .1em;
                }
            }

            .SD {
                @SD: #DDDD00;
                background-color: @SD;
                border-color: @SD  !important;

                &::before {
                    content: ' ';
                    background-image: url(blommor/sd.png);
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 1em;
                    height: 1em;
                    margin-top: .1em;
                    margin-left: .1em;
                }
            }

            .C {
                @C: #009933;
                background-color: @C;
                border-color: @C  !important;

                &::before {
                    content: ' ';
                    background-image: url(blommor/c.png);
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 1em;
                    height: 1em;
                    margin-top: .1em;
                    margin-left: .1em;
                }
            }

            .L {
                @L: #6BB7EC;
                background-color: @L;
                border-color: @L  !important;

                &::before {
                    content: ' ';
                    background-image: url(blommor/l.png);
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 1em;
                    height: 1em;
                    margin-top: .1em;
                    margin-left: .1em;
                }
            }

            .KD {
                @KD: #231977;
                background-color: @KD;
                border-color: @KD  !important;

                &::before {
                    content: ' ';
                    background-image: url(blommor/kd.png);
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 1em;
                    height: 1em;
                    margin-top: .2em;
                    margin-left: .2em;
                }
            }

            .MP {
                @MP: #83CF39;
                background-color: @MP;
                border-color: @MP  !important;

                &::before {
                    content: ' ';
                    background-image: url(blommor/mp.png);
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 1em;
                    height: 1em;
                    margin-top: .1em;
                    margin-left: .1em;
                }
            }

            .V {
                @V: #AF0000;
                background-color: @V;
                border-color: @V  !important;

                &::before {
                    content: ' ';
                    background-image: url(blommor/v.png);
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 1em;
                    height: 1em;
                    margin-top: .1em;
                    margin-left: .1em;
                }
            }

            .VILDE {
                background-color: white;
                border-color: white !important;

                &::before {
                    content: 'VILDE';
                    color: black;
                    font-size: 0.7em;
                    position: absolute;
                    height: 2em;
                }
            }

        }
    }
}