@font-face {
  font-family: 'SF Compact Display Thin';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Thin'), url('sf-compact-display-thin-58646eb43a785.woff') format('woff');
}
@font-face {
  font-family: 'SF Compact Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Medium'), url('sf-compact-display-medium-5864711817c30.woff') format('woff');
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    font-family: 'SF Compact Display Medium';
  }
  html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    perspective: 1000px;
  }
  html body #membercard {
    position: fixed;
    top: 20vh;
    width: 90%;
    left: 100%;
  }
  html body #membercard.slidein {
    transition: 0.6s ease-out;
    left: 5vw;
  }
  html body #membercard.slideout {
    transition: 0.6s ease-out;
    left: 110%;
  }
  html body #membercard .member {
    list-style: none;
    box-shadow: 0vh 0vw 1px 1px;
    overflow: hidden;
    display: flex;
    border: solid;
    border-width: .3em;
  }
  html body #membercard .member::before {
    width: 3em;
    height: 3em;
    margin-top: 0.1em;
    margin-left: 0.1em;
  }
  html body #membercard .member .img {
    min-width: 190px;
    min-height: 270px;
    background-size: 110%;
  }
  html body #membercard .member .name {
    display: none;
  }
  html body #membercard .member .infobox {
    display: block;
    padding-left: 6%;
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
  }
  html body #membercard .member .infobox .name {
    display: block;
    margin-bottom: 4em;
    margin-top: 2.5em;
    font-size: 1.3em;
  }
  html body #membercard .member .infobox .born {
    display: block;
    margin-bottom: .5em;
  }
  html body #membercard .member .infobox .born::before {
    content: 'Född år ';
  }
  html body #membercard .member .infobox .area {
    display: block;
  }
  html body #membercard .member .infobox .area::before {
    content: 'Valkrets ';
  }
  html body main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 0.8s ease-out;
  }
  html body main.pushaside {
    transform: translateX(-80%);
    opacity: 0.5;
  }
  html body main.pullback {
    transform: translateX(0);
    opacity: 1;
  }
  html body main #headline {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    padding-top: 1em;
    z-index: 0;
  }
  html body main #headline span {
    display: block;
  }
  html body main #parliamentlist {
    position: fixed;
    margin: 0 2vw;
    padding: 0;
    height: 77%;
    width: 96%;
    top: 13%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
    color: gray;
    z-index: 1;
  }
  html body main #parliamentlist.showallages {
    justify-content: space-evenly;
    align-content: initial;
  }
  html body main #parliamentlist.showallages > .member {
    flex-basis: 3.6vw;
    border-radius: 0px;
    box-shadow: none;
  }
  html body main #parliamentlist.showallages > .member::before {
    display: none;
  }
  html body main #parliamentlist.showallages > .member .img {
    box-shadow: none;
  }
  html body main #parliamentlist.showallages > .member span {
    display: none;
  }
  html body main #parliamentlist .member {
    list-style: none;
    flex-grow: 1;
    flex-basis: 15.3vw;
    max-width: 25vw;
    max-height: 30vh;
    margin: auto;
    border: solid .1em;
    box-shadow: 0vh 0vw 1px 1px;
  }
  html body main #parliamentlist .member.hide {
    display: none;
  }
  html body main #parliamentlist .member .img {
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    width: 98%;
    background-position-y: 1%;
    padding-top: 120%;
    margin: 1% 1% 0 1%;
  }
  html body main #parliamentlist .member .name {
    display: block;
    text-align: center;
    font-family: 'SF Compact Display Medium';
    font-size: 1em;
    width: 100%;
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
    height: fit-content;
    padding-top: .5em;
    padding-bottom: 0.3em;
  }
  html body main #parliamentlist .member .infobox {
    display: none;
  }
  html body main #sliders {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    position: fixed;
    bottom: 3%;
    z-index: 0;
  }
  html body main #sliders .slidecontainer {
    min-width: 45vw;
  }
  html body main #sliders .slidecontainer .slider {
    width: 100%;
    margin: 1vh 0 1vh 0;
    opacity: 0.8;
  }
  html body main #sliders .slidecontainer:first-child {
    /*#############Thumb##############*/
    /*#############Track##############*/
  }
  html body main #sliders .slidecontainer:first-child input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]:focus {
    outline: none;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 36px;
    cursor: pointer;
    margin-top: -12px;
    background: url('age.svg');
    background-size: 103%;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]::-moz-range-thumb {
    height: 36px;
    width: 36px;
    background: #555;
    cursor: pointer;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]::-ms-thumb {
    height: 36px;
    width: 36px;
    background: #555;
    cursor: pointer;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #eeecec;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]:active::-webkit-slider-runnable-track {
    background: #d6d6d6;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #ccc;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]::-ms-fill-lower {
    background: #ccc;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]:focus::-ms-fill-lower {
    background: #ddd;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]::-ms-fill-upper {
    background: #ccc;
  }
  html body main #sliders .slidecontainer:first-child input[type=range]:focus::-ms-fill-upper {
    background: #ddd;
  }
  html body main #sliders .slidecontainer:last-child {
    /*#############Thumb##############*/
    /*#############Track##############*/
  }
  html body main #sliders .slidecontainer:last-child input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]:focus {
    outline: none;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 36px;
    cursor: pointer;
    margin-top: -12px;
    background: url('genders.svg');
    background-size: 100%;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]::-moz-range-thumb {
    height: 36px;
    width: 36px;
    background: #555;
    cursor: pointer;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]::-ms-thumb {
    height: 36px;
    width: 36px;
    background: #555;
    cursor: pointer;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #eeecec;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]:active::-webkit-slider-runnable-track {
    background: #d6d6d6;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #ccc;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]::-ms-fill-lower {
    background: #ccc;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]:focus::-ms-fill-lower {
    background: #ddd;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]::-ms-fill-upper {
    background: #ccc;
  }
  html body main #sliders .slidecontainer:last-child input[type=range]:focus::-ms-fill-upper {
    background: #ddd;
  }
  html body .S {
    background-color: #EE2020;
    border-color: #EE2020 !important;
  }
  html body .S::before {
    content: ' ';
    background-image: url(blommor/s.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-top: .1em;
    margin-left: .1em;
  }
  html body .M {
    background-color: #1B49DD;
    border-color: #1B49DD !important;
  }
  html body .M::before {
    content: ' ';
    background-image: url(blommor/m.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-top: .1em;
    margin-left: .1em;
  }
  html body .SD {
    background-color: #DDDD00;
    border-color: #DDDD00 !important;
  }
  html body .SD::before {
    content: ' ';
    background-image: url(blommor/sd.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-top: .1em;
    margin-left: .1em;
  }
  html body .C {
    background-color: #009933;
    border-color: #009933 !important;
  }
  html body .C::before {
    content: ' ';
    background-image: url(blommor/c.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-top: .1em;
    margin-left: .1em;
  }
  html body .L {
    background-color: #6BB7EC;
    border-color: #6BB7EC !important;
  }
  html body .L::before {
    content: ' ';
    background-image: url(blommor/l.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-top: .1em;
    margin-left: .1em;
  }
  html body .KD {
    background-color: #231977;
    border-color: #231977 !important;
  }
  html body .KD::before {
    content: ' ';
    background-image: url(blommor/kd.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-top: .2em;
    margin-left: .2em;
  }
  html body .MP {
    background-color: #83CF39;
    border-color: #83CF39 !important;
  }
  html body .MP::before {
    content: ' ';
    background-image: url(blommor/mp.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-top: .1em;
    margin-left: .1em;
  }
  html body .V {
    background-color: #AF0000;
    border-color: #AF0000 !important;
  }
  html body .V::before {
    content: ' ';
    background-image: url(blommor/v.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-top: .1em;
    margin-left: .1em;
  }
  html body .VILDE {
    background-color: white;
    border-color: white !important;
  }
  html body .VILDE::before {
    content: 'VILDE';
    color: black;
    font-size: 0.7em;
    position: absolute;
    height: 2em;
  }
}
